#cloud-config
hostname: kworker-vm
users:
  - name: arch
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: wheel
    shell: /bin/bash
    ssh_authorized_keys:
      - SSH_PUBLIC_KEY
#chpasswd:
#  expire: false
#  users:
#    - {name: arch, password: arch, type: text}
write_files:
  - path: /etc/systemd/journald.conf.d/fw-ttys0.conf
    permissions: '0644'
    content: |
      [Journal]
      ForwardToConsole=yes
      MaxLevelConsole=debug
bootcmd:
  - [systemctl, mask, systemd-time-wait-sync.service]
  # - journalctl -f > /dev/ttyS0 &
runcmd:
  - echo > /etc/fstab
  - mount -a
  - swapoff -a
  - systemctl daemon-reload
  - systemctl restart systemd-journald
  - pacman -Sy --noconfirm
