## template: jinja
#cloud-config
users:
  - name: arch
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: wheel
    shell: /bin/bash
    ssh_authorized_keys:
      - {{ ds.meta_data.ssh_key }}
#chpasswd:
#  expire: false
#  users:
#    - {name: arch, password: arch, type: text}
write_files:
  - path: /etc/systemd/journald.conf.d/fw-ttys0.conf
    permissions: '0644'
    content: |
      [Journal]
      ForwardToConsole=yes
      MaxLevelConsole=debug
  - path: /etc/modules-load.d/br_netfilter.conf # flannel
    content: |
      br_netfilter
bootcmd:
  - [systemctl, mask, systemd-time-wait-sync.service]
runcmd:
  - modprobe br_netfilter
  - echo > /etc/fstab
  - mount -a
  - swapoff -a
  - systemctl daemon-reload
  - systemctl restart systemd-journald
  - pacman -Sy --noconfirm
